# TELECOM USERS DATASET

<b>Loading Dataset</b>

In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import numpy as np

In [11]:
df= pd.read_csv('telecom_users.csv')
df.head()

,Unnamed: 0,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,1869,7010-BRBUU,Male,0,Yes,Yes,72,Yes,Yes,No,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Credit card (automatic),24.10,1734.65,No
1,4528,9688-YGXVR,Female,0,No,No,44,Yes,No,Fiber optic,...,Yes,No,Yes,No,Month-to-month,Yes,Credit card (automatic),88.15,3973.2,No
2,6344,9286-DOJGF,Female,1,Yes,No,38,Yes,Yes,Fiber optic,...,No,No,No,No,Month-to-month,Yes,Bank transfer (automatic),74.95,2869.85,Yes
3,6739,6994-KERXL,Male,0,No,No,4,Yes,No,DSL,...,No,No,No,Yes,Month-to-month,Yes,Electronic check,55.90,238.5,No
4,432,2181-UAESM,Male,0,No,No,2,Yes,No,DSL,...,Yes,No,No,No,Month-to-month,No,Electronic check,53.45,119.5,No

In [12]:
df.shape

(5986, 22)

In [13]:
df.describe()

        Unnamed: 0  SeniorCitizen       tenure  MonthlyCharges
count  5986.000000    5986.000000  5986.000000     5986.000000
mean   3533.561310       0.161377    32.468760       64.802213
std    2035.705666       0.367909    24.516391       30.114702
min       0.000000       0.000000     0.000000       18.250000
25%    1777.250000       0.000000     9.000000       35.650000
50%    3546.500000       0.000000    29.000000       70.400000
75%    5291.750000       0.000000    56.000000       89.900000
max    7042.000000       1.000000    72.000000      118.750000

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5986 entries, 0 to 5985
Data columns (total 22 columns):
Unnamed: 0          5986 non-null int64
customerID          5986 non-null object
gender              5986 non-null object
SeniorCitizen       5986 non-null int64
Partner             5986 non-null object
Dependents          5986 non-null object
tenure              5986 non-null int64
PhoneService        5986 non-null object
MultipleLines       5986 non-null object
InternetService     5986 non-null object
OnlineSecurity      5986 non-null object
OnlineBackup        5986 non-null object
DeviceProtection    5986 non-null object
TechSupport         5986 non-null object
StreamingTV         5986 non-null object
StreamingMovies     5986 non-null object
Contract            5986 non-null object
PaperlessBilling    5986 non-null object
PaymentMethod       5986 non-null object
MonthlyCharges      5986 non-null float64
TotalCharges        5986 non-null object
Churn               5986 non-null object
dtypes: float64(1), int64(3), object(18)
memory usage: 1.0+ MB

In [15]:
df.isna().sum()

Unnamed: 0          0
customerID          0
gender              0
SeniorCitizen       0
Partner             0
Dependents          0
tenure              0
PhoneService        0
MultipleLines       0
InternetService     0
OnlineSecurity      0
OnlineBackup        0
DeviceProtection    0
TechSupport         0
StreamingTV         0
StreamingMovies     0
Contract            0
PaperlessBilling    0
PaymentMethod       0
MonthlyCharges      0
TotalCharges        0
Churn               0
dtype: int64

In [16]:
df.drop(columns= ['Unnamed: 0', 'customerID'], inplace= True)
df.tail()

,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,OnlineBackup,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
5981,Male,0,Yes,No,1,Yes,No,Fiber optic,Yes,No,No,No,Yes,Yes,Month-to-month,Yes,Electronic check,95.00,95,Yes
5982,Female,0,Yes,Yes,23,Yes,Yes,DSL,Yes,Yes,Yes,Yes,Yes,Yes,Two year,Yes,Credit card (automatic),91.10,2198.3,No
5983,Male,0,Yes,Yes,12,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,Month-to-month,Yes,Electronic check,21.15,306.05,No
5984,Male,1,No,No,12,Yes,Yes,Fiber optic,No,No,Yes,No,Yes,Yes,Month-to-month,Yes,Electronic check,99.45,1200.15,Yes
5985,Male,0,No,No,26,Yes,No,No,No internet service,No internet service,No internet service,No internet service,No internet service,No internet service,One year,No,Credit card (automatic),19.80,457.3,No

--------------------

<b>Column Values And Their Counts</b>

In [17]:
# Gender
df.gender.value_counts()

Male      3050
Female    2936
Name: gender, dtype: int64

In [19]:
# Citizens
df.SeniorCitizen.value_counts()

0    5020
1     966
Name: SeniorCitizen, dtype: int64

In [20]:
# Dependents
df.Dependents.value_counts()

No     4195
Yes    1791
Name: Dependents, dtype: int64

In [23]:
# Tenure
df.tenure.unique()

array([72, 44, 38,  4,  2, 70, 33,  1, 39, 55, 52, 30, 60, 50, 32, 51, 69,
       42, 14, 62,  5, 63, 67, 40, 65, 16, 46, 11, 49, 68, 10, 53, 54, 15,
        3, 71,  8, 64, 57, 20, 26, 31,  7, 35,  6, 13, 23,  9, 45, 17, 34,
       58, 12, 25, 28, 29, 43, 19, 41, 37, 27, 22, 24, 18, 56, 66, 59, 48,
       47, 61, 21,  0, 36], dtype=int64)

In [28]:
# Phone Service
df.PhoneService.value_counts()

Yes    5396
No      590
Name: PhoneService, dtype: int64

In [29]:
# Internet Service
df.InternetService.value_counts()

Fiber optic    2627
DSL            2068
No             1291
Name: InternetService, dtype: int64

In [30]:
# Payment Method
df.PaymentMethod.value_counts()

Electronic check             2006
Mailed check                 1369
Bank transfer (automatic)    1308
Credit card (automatic)      1303
Name: PaymentMethod, dtype: int64

In [32]:
# Unique Values in Monthly Charges
df.MonthlyCharges.unique().size

1526

In [37]:
# Mean Median Mode & Std.Dev of Monthly Charges
print("Mean o Std.Devf Monthly Charges: ",df.MonthlyCharges.mean())
print("Median of Monthly Charges: ",df.MonthlyCharges.median())
print("Mode of Monthly Charges: ",df.MonthlyCharges.mode()[0])
print("Standard Deviation of Monthly Charges: ",df.MonthlyCharges.std())

Mean of Monthly Charges:  64.8022134981624
Median of Monthly Charges:  70.4
Mode of Monthly Charges:  20.05
Standard Deviation of Monthly Charges:  30.11470163388811