# HYPOTHESIS TESTING ON FINANCE DATA (PERSONAL LOAN ATTRIBUTE)

Using two-sampled t-test, we are about to test our hypothesis whether some of the relevant attributes effect a customer/person to take/avail loan

In [5]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [2]:
data = pd.read_csv('Finance_Data_HypTest.csv')
data.head(10)

,Unnamed: 0,Age,Experience,Income,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard,Account Holder Category
0,0,25,1.0,49,4,1.6,Undergraduate,0,No,Yes,No,No,No,Holds Only Security Account
1,1,45,19.0,34,3,1.5,Undergraduate,0,No,Yes,No,No,No,Holds Only Security Account
2,2,39,15.0,11,1,1.0,Undergraduate,0,No,No,No,No,No,Does Not Hold Both Security & Deposit Account
3,3,35,9.0,100,1,2.7,Graduate,0,No,No,No,No,No,Does Not Hold Both Security & Deposit Account
4,4,35,8.0,45,4,1.0,Graduate,0,No,No,No,No,Yes,Does Not Hold Both Security & Deposit Account
5,5,37,13.0,29,4,0.4,Graduate,155,No,No,No,Yes,No,Does Not Hold Both Security & Deposit Account
6,6,53,27.0,72,2,1.5,Graduate,0,No,No,No,Yes,No,Does Not Hold Both Security & Deposit Account
7,7,50,24.0,22,1,0.3,Professional,0,No,No,No,No,Yes,Does Not Hold Both Security & Deposit Account
8,8,35,10.0,81,3,0.6,Graduate,104,No,No,No,Yes,No,Does Not Hold Both Security & Deposit Account
9,9,34,9.0,180,1,8.9,Professional,0,Yes,No,No,No,No,Does Not Hold Both Security & Deposit Account

<b>Testing Impact Of Age Attribute On Availing Personal Loan

In [20]:
Ho = 'Age attribute does not have impact on availing personal loan' # Null Hypothesis
Ha = 'Age attribute has impact on availing personal loan' # Alternative Hypothesis

In [21]:
age_yes = np.array(data[data['Personal Loan']=='Yes']['Age'])
age_no = np.array(data[data['Personal Loan']=='No']['Age'])
alpha = 0.05 # confidence is 95%

In [22]:
t, p_value = stats.ttest_ind(age_no,age_yes, axis=0)

In [23]:
if p_value < alpha:
    print(Ha, 'as the p_value is less than alpha with a value of ',alpha)
else:
    print(Ho, 'as the p_value is greater than alpha with a value of ',round(p_value,3))

Age attribute does not have impact on availing personal loan as the p_value is greater than alpha with a value of  0.585

<b>Testing Impact Of Family Counts Attribute On Availing Personal Loan

In [24]:
Ho_family = 'Family attribute does not have impact on availing personal loan' # Null Hypothesis
Ha_family = 'Family attribute has impact on availing personal loan' # Alternative Hypothesis

In [25]:
family_yes = np.array(data[data['Personal Loan']=='Yes']['Family'])
family_no = np.array(data[data['Personal Loan']=='No']['Family'])
alpha = 0.05 # confidence is 95%

In [26]:
t1, p_value1 = stats.ttest_ind(family_no,family_yes, axis=0)

In [33]:
if p_value1 < alpha:
    print(Ha_family, 'as the p_value is less than alpha with a value of ',p_value1)
else:
    print(Ho_family, 'as the p_value is greater than alpha with a value of ',p_value1)

Family attribute has impact on availing personal loan as the p_value is less than alpha with a value of  1.4099040685673807e-05

<b>Testing Impact Of Income Attribute On Availing Personal Loan

In [29]:
Ho_income = 'Income attribute does not have impact on availing personal loan' # Null Hypothesis
Ha_income = 'Income attribute has impact on availing personal loan' # Alternative Hypothesis

In [31]:
income_yes = np.array(data[data['Personal Loan']=='Yes']['Income'])
income_no = np.array(data[data['Personal Loan']=='No']['Income'])
alpha = 0.05 # confidence is 95%

In [32]:
t2, p_value2 = stats.ttest_ind(income_no, income_yes, axis=0)

In [34]:
if p_value2 < alpha:
    print(Ha_income, 'as the p_value is less than alpha with a value of ',p_value2)
else:
    print(Ho_income, 'as the p_value is greater than alpha with a value of ',p_value2)

Income attribute has impact on availing personal loan as the p_value is less than alpha with a value of  0.0