# EXPLORATORY DATA ANALYSIS ON CENSUS DATA

------

<b>Importing Libraries</b>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

<b>Loading Census Dataset

In [3]:
columns = ["Age","Workclass","Education","Marital Status","Occupation","Relationship","Race","Gender","Hours-Per-Week","Native-Country","Income"]
data = pd.read_csv("census_data.csv")
data.columns = columns
data.head(17)

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Gender,Hours-Per-Week,Native-Country,Income
0,39,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,40,United-States,<=50K
1,50,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,13,United-States,<=50K
2,38,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,40,United-States,<=50K
3,53,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,40,United-States,<=50K
4,28,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,40,Cuba,<=50K
5,37,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,<=50K
6,49,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,16,Jamaica,<=50K
7,52,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,45,United-States,>50K
8,31,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,50,United-States,>50K
9,42,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
10,37,Private,Some-college,Married-civ-spouse,Exec-managerial,Husband,Black,Male,80,United-States,>50K
11,30,State-gov,Bachelors,Married-civ-spouse,Prof-specialty,Husband,Asian-Pac-Islander,Male,40,India,>50K
12,23,Private,Bachelors,Never-married,Adm-clerical,Own-child,White,Female,30,United-States,<=50K
13,32,Private,Assoc-acdm,Never-married,Sales,Not-in-family,Black,Male,50,United-States,<=50K
14,40,Private,Assoc-voc,Married-civ-spouse,Craft-repair,Husband,Asian-Pac-Islander,Male,40,?,>50K
15,34,Private,7th-8th,Married-civ-spouse,Transport-moving,Husband,Amer-Indian-Eskimo,Male,45,Mexico,<=50K
16,25,Self-emp-not-inc,HS-grad,Never-married,Farming-fishing,Own-child,White,Male,35,United-States,<=50K

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32561 entries, 0 to 32560
Data columns (total 11 columns):
Age               32561 non-null int64
Workclass         32561 non-null object
Education         32561 non-null object
Marital Status    32561 non-null object
Occupation        32561 non-null object
Relationship      32561 non-null object
Race              32561 non-null object
Gender            32561 non-null object
Hours-Per-Week    32561 non-null int64
Native-Country    32561 non-null object
Income            32561 non-null object
dtypes: int64(2), object(9)
memory usage: 2.7+ MB

In [5]:
data.shape

(32561, 11)

<b>Some Preprocessing On Data

There are some data fields having ? as a missing value, so we are up to drop all such rows that contain at least a missing value.

In [6]:
for i in data.columns:
    data[i] = data[i].replace(" ?",np.nan)

In [7]:
data.dropna(inplace=True)

In [8]:
data.shape

(30162, 11)

In [11]:
data.reset_index(inplace=True)

In [15]:
data.drop("index",axis=1,inplace=True)
data.tail(10)

,Age,Workclass,Education,Marital Status,Occupation,Relationship,Race,Gender,Hours-Per-Week,Native-Country,Income
30152,32,Private,10th,Married-civ-spouse,Handlers-cleaners,Husband,Amer-Indian-Eskimo,Male,40,United-States,<=50K
30153,43,Private,Assoc-voc,Married-civ-spouse,Sales,Husband,White,Male,45,United-States,<=50K
30154,32,Private,Masters,Never-married,Tech-support,Not-in-family,Asian-Pac-Islander,Male,11,Taiwan,<=50K
30155,53,Private,Masters,Married-civ-spouse,Exec-managerial,Husband,White,Male,40,United-States,>50K
30156,22,Private,Some-college,Never-married,Protective-serv,Not-in-family,White,Male,40,United-States,<=50K
30157,27,Private,Assoc-acdm,Married-civ-spouse,Tech-support,Wife,White,Female,38,United-States,<=50K
30158,40,Private,HS-grad,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,40,United-States,>50K
30159,58,Private,HS-grad,Widowed,Adm-clerical,Unmarried,White,Female,40,United-States,<=50K
30160,22,Private,HS-grad,Never-married,Adm-clerical,Own-child,White,Male,20,United-States,<=50K
30161,52,Self-emp-inc,HS-grad,Married-civ-spouse,Exec-managerial,Wife,White,Female,40,United-States,>50K

<b>Income Values Ratio (Entire Data)

<b>Income Values Ratio (Males)

<b>Income Values Ratio (Females)

<b>Average Of Age Feature (Entire Data)

<b>Average of Male Ages

<b>Average of Female Ages

<b>Ages Distributions (Entire Data)

<b>Ages Distribution (Males)

<b>Ages Distribution (Females)

<b>Gender Counts (Entire Data)

<b>Occupation Counts (Entire Data)

<b>Native Country Counts (Entire Data)

<b>Hours Per Week Distribution (Entire Data)

<b>Hours Per Week Distribution (Males)

<b>Hours Per Week Distribution (Females)

<b>White Males vs. White Females (Ratio)

<b>Male Counts With Masters Education And Salary Less Than 50K