# UBER DRIVERS DATA ANALYSIS CASE STUDY

-------

<b>Importing Libraries</b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

<b>Data Collection</b>

In [2]:
files = os.listdir(r"C:\Users\hp\Desktop\Datasets\Uber Data")
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [6]:
path = r"C:\Users\hp\Desktop\Datasets\Uber Data"
final = pd.DataFrame()
for file in files:
    df = pd.read_csv(path+"/"+file, encoding="utf-8")
    final = pd.concat([final,df])

In [7]:
final.shape

(4534327, 4)

In [8]:
final.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512