# UBER DRIVERS DATA ANALYSIS CASE STUDY

-------

<b>Importing Libraries</b>

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

<b>Data Collection</b>

In [2]:
files = os.listdir(r"C:\Users\hp\Desktop\Datasets\Uber Data")
files

['uber-raw-data-apr14.csv',
 'uber-raw-data-aug14.csv',
 'uber-raw-data-jul14.csv',
 'uber-raw-data-jun14.csv',
 'uber-raw-data-may14.csv',
 'uber-raw-data-sep14.csv']

In [3]:
path = r"C:\Users\hp\Desktop\Datasets\Uber Data"
final = pd.DataFrame()
for file in files:
    df = pd.read_csv(path+"/"+file, encoding="utf-8")
    final = pd.concat([final,df])

In [4]:
final.shape

(4534327, 4)

In [5]:
final.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

<b>Data Preparation<b>

In [6]:
df = final.copy()
df.head()

          Date/Time      Lat      Lon    Base
0  4/1/2014 0:11:00  40.7690 -73.9549  B02512
1  4/1/2014 0:17:00  40.7267 -74.0345  B02512
2  4/1/2014 0:21:00  40.7316 -73.9873  B02512
3  4/1/2014 0:28:00  40.7588 -73.9776  B02512
4  4/1/2014 0:33:00  40.7594 -73.9722  B02512

In [10]:
df["Date/Time"] = pd.to_datetime(df["Date/Time"], format= "%m/%d/%Y %H:%M:%S")

In [11]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
dtype: object

In [12]:
df.head()

            Date/Time      Lat      Lon    Base
0 2014-04-01 00:11:00  40.7690 -73.9549  B02512
1 2014-04-01 00:17:00  40.7267 -74.0345  B02512
2 2014-04-01 00:21:00  40.7316 -73.9873  B02512
3 2014-04-01 00:28:00  40.7588 -73.9776  B02512
4 2014-04-01 00:33:00  40.7594 -73.9722  B02512

In [13]:
df["Weekday"] = df["Date/Time"].dt.day_name()

In [14]:
df["Day"] = df["Date/Time"].dt.day

In [15]:
df["Minute"] = df["Date/Time"].dt.minute

In [16]:
df["Month"] = df["Date/Time"].dt.month

In [17]:
df["Hour"] = df["Date/Time"].dt.hour

In [18]:
df.head()

,Date/Time,Lat,Lon,Base,Weekday,Day,Minute,Month,Hour
0,2014-04-01 00:11:00,40.7690,-73.9549,B02512,Tuesday,1,11,4,0
1,2014-04-01 00:17:00,40.7267,-74.0345,B02512,Tuesday,1,17,4,0
2,2014-04-01 00:21:00,40.7316,-73.9873,B02512,Tuesday,1,21,4,0
3,2014-04-01 00:28:00,40.7588,-73.9776,B02512,Tuesday,1,28,4,0
4,2014-04-01 00:33:00,40.7594,-73.9722,B02512,Tuesday,1,33,4,0

In [19]:
df.dtypes

Date/Time    datetime64[ns]
Lat                 float64
Lon                 float64
Base                 object
Weekday              object
Day                   int64
Minute                int64
Month                 int64
Hour                  int64
dtype: object